.banner{
    padding-top: 100px;
    width: 100%;
    height:600px;
    background-image: 
   linear-gradient(to bottom, rgba(217,167,199,0.6), 
  rgba(255,252,220,0.6)),
  url("https://raw.githubusercontent.com/UFOTreeboy/UFOTreeboy.github.io/main/P_20190617_154241_vHDR_Auto.jpg");
  }
  
  .quote{
    width: 50%;
    margin: 0 auto;
    font-size: 50px;
    color: rgb(9, 0, 0);
    padding-left: 20px;
    border-left: 10px solid #fff;
  }
  